
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: linear-gradient(to right,#e96443,#904e95);margin:0,auto;">
    <div style="background-image:linear-gradient(to right #fff);color: #000;">
       <div><form action="" method="post">
            <label for="User-Name">
                User Id:
            </label>
            </br>
            <input type="text" name="User-Name"   required>
        </br>
            <lable for="Pass-word">Password: </lable>
        </br><input type="password" name="Pass-word"  required>
    </br><input type="submit" value="Log in">            
</br></form>
        <a href="#">Fergot Password!</a>
        <P>New user?
            <a href="#">sign Up</a>
    
        </P>
        </div>
    </div>
</body>
</html>
