<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-class">
        <form action="" method="post">
            <label for=" First-name">
                First name:
              
            </label></br>
            <input type="text" name=" First-name" value="{{First_name}}"  required></br>
            <lable for="Last-name">Last name: </lable></br>
            <input type="text" name="Last-name" value="{{Last_name}}" required></br>
            <label for="e-mail">
                E-mail:
            </label></br>
            <input type="email" name="e-mail" value="{{e_mail}}" required></br>
            <label for="Mobile-No"></label></br>
            <input type="number" name="Mobile-No" value="{{Mobile_No}}" required></br>
            <label for="User-name">Enter user name:</label></br>
            <input type="text" name="User-name" value="{{User_name}}" required></br>
            <label for="password">Enter Password:</label></br>
            <input type="password" name="password" ></br>
            <label for="Re-Enter-Pass">Re-Enter Password:</label></br>
            <input type="password" name="password" ></br>
            <input type="submit" value="Sign Up"></br>

        </form>
    </div>
</body>
</html>